                
            
<footer class="footer-10">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <nav>
                    <h6>Vital AI</h6>
                    <ul>
                        <li><a href="http://vital.ai/#tech">Tech</a></li>
                        <li><a target=_blank href="http://vitalai.com">Blog: http://vitalai.com</a></li>
                        <li><a href="http://vital.ai/#team">Team</a></li>
                        <li><a href="http://vital.ai/#join">Join Us</a></li>
                        <li><a href="http://vital.ai/#contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <nav>
                    <h6>Products &amp; Services</h6>
                    <ul>
                        <li><a href="http://vital.ai/#product">Development Kit</a></li>
                        <li><a href="http://vital.ai/#product">App Platform</a></li>
                        <li><a href="http://vital.ai/#product">App Platform + Source</a></li>
                        <li><a href="http://vital.ai/#data-science-services">Data Science</a></li>
                        <li><a href="http://vital.ai/#software-development">Software Development</a></li>
                    </ul>
                </nav>
            </div>

            <div class="col-sm-3 col-sm-offset-2">
                <nav>
                    <h6>Resources</h6>
                    <ul>
                        <li><a target=_blank
                href="http://vital-ai.github.io/vital-documentation/">Documentation</a></li>
		      <li><a target=_blank
		      href="http://support.vital.ai">Support Forum</a></li>
		      <li><a target=_blank
		      href="http://vital.ai/discussion-list.html">Discussion List</a></li>
                        <li><a href="http://vital.ai/site/terms-of-service.html">Terms of Service</a></li>
                        <li><a href="http://vital.ai/site/privacy-policy.html">Privacy Policy</a></li>
                        <!-- <li><a target=_blank href="login.html">Customer Portal Login</a></li> -->
                        <li><a
                href="https://dashboard.vital.ai/mailingAdd.html">Manage Mailing List Membership</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
   
    
</footer>