<!-- header-1 -->
        <header class="header-1">
            <div class="container">
                <div class="row">
                    <div class="navbar col-sm-12 navbar-fixed-top" role="navigation" style="display: none;">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle"></button>
                            <a class="brand" href="http://vital.ai/"><img src="img/vitalai_offwhite.png" height="50" alt=""></a>
                         
                    </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav pull-right">
                                <li>
                                    <a href="http://vital.ai">HOME</a>
			      </li>
			      
			      <li>
                                    <a href="#">DOWNLOADS</a>
                              </li>

				<li>
                                    <a href="#">SOLUTIONS</a>
                                </li>
                        
                                <li>
                                    <a href="#">TECH</a>
                                </li>
                                <li>
                                    <a href="#">ABOUT US</a>
                                </li>
                                <li>
                                    <a href="http://vital-ai.github.io/vital-documentation/index.html">DOCUMENTATION</a>
                                </li>
                              
                               
                                <li> <form class="navbar-form pull-left">
                  <a class="btn btn-primary" href="#">LOG OUT</a>
                </form></li>

                            </ul>
                            
                            
                           <!-- <ul class="subnav">
                                
                                
                                <li>
                                    <a target=_blank
                                    href="http://vital-ai.github.io/vital-documentation/">Documentation</a>
                                </li>
                                <li>
                                    <a href="http://vital.ai/site/terms-of-service.html">Terms of Service</a>
                                </li>
                                <li>
                                    <a href="http://vital.ai/site/privacy-policy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="https://dashboard.vital.ai/mailingAdd.html">Mailing List Management</a>
                                </li>
                            </ul> -->
                            
                            
                        </div>
                        
                           
                    </div>
                </div>
                
                
            </div>
        </header>

<nav class="dockbar navbar-fixed-top" id="header-dockbar">
      <menu class="main-menu">
        <div class="container">
          <div class="row">
            <a href="index.html" class="man-brand col-sm-3">
              <span class="logotype">Console</span>
              <span class="doc-title"></span>
            </a>
            <button id="open-close-menu" class="menu-btn btn-inverse"><span class="fui-list"></span>
            </button>
            <dl class="col-sm-8">
              <dd><a href="index.html">Products</a>
              </dd>
              <dd><a href="how_to_install.html">MyProducts</a>
              </dd>
              <dd><a href="tutorials.html">MyAccount</a>
              </dd>
              <dd><a href="faq.html">Mailing List</a>
              </dd>
            </dl>
          </div>
        </div>
      </menu>
      <menu class="colapsed-menu">
        <dl>
          <dd><a href="index.html">overview</a>
            <dl>
              <dd><a href="headers.html">Header</a>
              </dd>
              <dd><a href="contents.html">Content 1</a>
              </dd>
              <dd><a href="contents2.html">Content 2</a>
              </dd>
              <dd><a href="footers.html">Footer</a>
              </dd>
              <dd><a href="projects.html">Projects</a>
              </dd>
              <dd><a href="prices.html">Price</a>
              </dd>
              <dd><a href="blogs.html">Blog</a>
              </dd>
              <dd><a href="crews.html">Crew</a>
              </dd>
              <dd><a href="contacts.html">Contact</a>
              </dd>
            </dl>
          </dd>
          <dd><a href="how_to_install.html">how to install</a>
          </dd>
          <dd><a href="tutorials.html">tutorials</a>
          </dd>
          <dd><a href="faq.html">f.a.q.</a>
          </dd>
        </dl>
      </menu>
    </nav>
            
     