     
<a name="home"></a>

<!-- header-1 -->
        <header class="header-1">
            <div class="container">
                <div class="">
                    <div class="navbar col-sm-12 navbar-fixed-top" role="navigation" style="display: none;">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle"></button>
                            <a class="brand" href="http://vital.ai/"><img src="img/vitalai_offwhite.png" height="50" alt=""></a>
                         
                    	</div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav pull-right">
                                <li>
                                    <a href="http://vital.ai">HOME</a>
			      </li>
			      

				<li>
                                    <a href="http://vital.ai/#solutions">SOLUTIONS</a>
                                </li>
                        
                                <li>
                                    <a href="http://vital.ai/pages/tech.html">TECH</a>
                                </li>
                                <li>
                                    <a href="http://vital.ai/about-us.html">ABOUT US</a>
                                </li>
                                <li>
                                    <a href="http://vital-ai.github.io/vital-documentation/index.html">DOCUMENTATION</a>
                                </li>
                                <li>
                                    <a href="http://vitalai.com/">BLOG</a>
                                </li>
                               <li class="active">
                                    <a href="index2.html">CONSOLE</a>
                                </li>
                               <li style="max-width:110px">
                                   <a href="myaccount.html"><font size="1">{{email}}</font></a>
                                </li>
                                <li> <form class="navbar-form pull-left">
                  <a class="btn btn-danger" href="index2.html">LOG OUT</a>
                </form></li>

                            </ul>
                            
                            
                           <!-- <ul class="subnav">
                                
                                
                                <li>
                                    <a target=_blank
                                    href="http://vital-ai.github.io/vital-documentation/">Documentation</a>
                                </li>
                                <li>
                                    <a href="http://vital.ai/site/terms-of-service.html">Terms of Service</a>
                                </li>
                                <li>
                                    <a href="http://vital.ai/site/privacy-policy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="https://dashboard.vital.ai/mailingAdd.html">Mailing List Management</a>
                                </li>
                            </ul> -->
                            
                            
                        </div>
                        
                    </div>
                    
                <!-- /row -->
                </div>
                
            <!-- /container -->
            </div>
        </header>

<nav class="dockbar navbar-fixed-top" id="header-dockbar">
      <menu class="main-menu nav-aware">
        <div class="container">
          <div class="row">
            <button id="open-close-menu" class="menu-btn btn-inverse"><span class="fui-list"></span>
            </button>
            <dl class="col-sm-12" align="right">
              <dd><a href="products.html">Products</a>
              </dd>
                <dd><a href="mailinglist.html">Mailing List</a>
              </dd>
              <dd><a href="myproducts.html">MyProducts</a>
              </dd>
              <dd><a href="myaccount.html">MyAccount</a>
              </dd>
            </dl>
          </div>
        </div>
      </menu>
      <menu class="colapsed-menu nav-aware">
        <dl>
          <dd><a href="#">Overview</a>
            <dl>
              <dd><a href="products.html">Products</a>
              </dd>
                <dd><a href="mailinglist.html">Mailing List</a>
              </dd>
              <dd><a href="myproducts.html">MyProducts</a>
              </dd>
              <dd><a href="myaccount.html">MyAccount</a>
              </dd>
            </dl>
          </dd>
        </dl>
      </menu>
    </nav>
    
    <script type="text/javascript">
    	$(function(){
    		//navigation
    		//get current location
    		var locationNoQuery = window.location.href.split('?')[0];
    		//last chunk
    		var parts = locationNoQuery.split('/');
    		var lastPart = parts[parts.length - 1];
    		
    		$('.nav-aware a').each(function(index){
    			var a = $(this);
    			if(a.attr('href') == lastPart) {
    				a.addClass('active');
    			} else {
    				a.removeClass('active');
    			}
    		});
    		
    		//$('#header-dockbar').detach().insertAfter($('body > header'));
   		
    	});
    </script>
            
       <section class="header-1-sub" style="height: 0px; overflow: hidden;">
           
            <div id="pt-main" class="page-transitions pt-perspective">
            </div>
           
        </section>
        
        <!-- fake section displayed underneath the floating nav bar when scroll-y=0 -->
        <section style="height: 0px; overflow: hidden; background-color: rgb(54, 57, 64);">
        </section>