<!-- header-1 -->
        <header class="header-1">
            <div class="container">
                <div class="row">
                    <div class="navbar col-sm-12 navbar-fixed-top" role="navigation" style="display: none;">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle"></button>
                            <a class="brand" href="http://vital.ai/"><img src="img/vitalai_offwhite.png" height="50" alt=""></a>
                         
                    </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav pull-right">
                                <li>
                                    <a href="#">HOME</a>
			      </li>
			      
			      <li>
                                    <a href="#">PRODUCTS</a>
                              </li>

				<li>
                                    <a href="#">MYPRODUCTS</a>
                                </li>
                           
                                <li>
                                    <a href="#">MYACCOUNT</a>
                                </li>
                                <li>
                                    <a href="http://vital-ai.github.io/vital-documentation/index.html">DOCUMENTATION</a>
                                </li>
                                <li>
                                    <a href="#">MAILING LIST</a>
                                </li>
                               
                                <li> <form class="navbar-form pull-left">
                  <a class="btn btn-primary" href="#">LOG IN</a>
                </form></li>

                            </ul>
                            
                           <!-- <ul class="subnav">
                                
                                
                                <li>
                                    <a target=_blank
                                    href="http://vital-ai.github.io/vital-documentation/">Documentation</a>
                                </li>
                                <li>
                                    <a href="http://vital.ai/site/terms-of-service.html">Terms of Service</a>
                                </li>
                                <li>
                                    <a href="http://vital.ai/site/privacy-policy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="https://dashboard.vital.ai/mailingAdd.html">Mailing List Management</a>
                                </li>
                            </ul> -->
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>
            
     