 <!-- content-2 -->
      <section class="content-2">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <h3>Vital AI Development Kit</h3>
              <p>The Vital AI Development Kit (VDK) provides a suite of software to streamline the flow of data across your application architecture and integrate with analytical frameworks using the Vital Service API. The key tool is VitalSigns, which provides a consistent data model used by all software modules.
              </p>
              <div class="btns">
                <a class="btn btn-primary" href="subscription.html">Subscribe</a>
                <a href="#"><b>Learn More</b></a>
              </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
              <img src="img/vdk_cube.png" width="380px">
            </div>
          </div>
        </div>
      </section>

<div class="modal fade" id="myModal" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <h4>Log In</h4>
            </div>
            
            <div class="modal-body">
                
                <div class="col-sm-12">
                    <div class="row">
                <div class="form-group">
            <label for="email" >Email (Login) <font color="red">*</font></label>
      
            <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
        </div>
    </div>
                    <div class="row">
    <div class="form-group">
        <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="●●●●●●●●">
    </div></div></div>
                
          <button type="button" class="btn btn-primary" data-dismiss="modal">Log In</button>&nbsp;&nbsp;<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    
        </div>
            
            <div class="modal-footer">
               <div class="row">
                <div class="col-sm-6">
                   Forgot Password?&nbsp;<a href="#">Reset</a>
                   </div>
                <div class="col-sm-6">
                   Don't have an account?&nbsp;<a href="#">Sign Up</a>
                   </div>
                </div>
            </div>
            
    </div>
</div>