<div class="modal in">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Log In</h4>
      </div>
      <div class="modal-body">
       <div class="col-sm-12">
                    <div class="row">
                <div class="form-group">
            <label for="email" >Email (Login) <font color="red">*</font></label>
      
            <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
        </div>
    </div>
                    <div class="row">
    <div class="form-group">
        <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="●●●●●●●●">
    </div></div></div>
           <a href="index.html" class="btn btn-primary" button role="button">Log In</a>&nbsp;&nbsp;<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      <div class="modal-footer">
          <div class="col-sm-6" align="center">
        Forgot password? <a href="resetpassword.html">Reset</a></div>
          <div class="col-sm-6" align="center">
         Don't have an account? <a href="signup.html">Sign Up</a></div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->