<br><br><br><br><br>

<div class="container">
<ul class="nav nav-tabs">
  <li><a href="mailinglist.html">Join</a></li>
  <li class="active"><a href="#">Leave</a></li>
</ul>
</div>

<form class="form-horizontal" role="form" method="post" action="index.php">
<div class="container">
    <div class="row">
            <div class="col-sm-8">
              <br><br><br><h4>Leave Our Mailing List</h4>
            </div>
    </div></div><br><br>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Enter Your Email  Address</label>
        <div class="col-sm-5">
            <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
           <br> <button type="button" class="btn btn-danger">Leave</button>
        </div>
    </div>
    <br>
</form>