<br><br><br><br><br>
<form class="form-horizontal" role="form" method="post" action="index.php">
<div class="container">
    <div class="row">
            <div class="col-sm-8">
              <br><br><br><h4>Please Join Our Mailing List</h4>
            </div>
    </div></div><br><br>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Enter Your Email  Address</label>
        <div class="col-sm-5">
            <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
           <br> <button type="button" class="btn btn-primary">Submit</button>
        </div>
    </div>
    <br>
</form>

<hr>

<form class="form-horizontal" role="form" method="post" action="index.php">
<div class="container">
    <div class="row">
            <div class="col-sm-8">
              <br><br><br><h4>Remove Your Email from Mailing List</h4>
            </div>
    </div></div><br><br>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Enter Your Email  Address</label>
        <div class="col-sm-5">
            <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
           <br> <button type="button" class="btn btn-danger">Remove</button>
        </div>
    </div>
    <br>
</form>
<br><br><br>