
<br><br><br><br><br>

<div class="container">
<ul class="nav nav-tabs">
  <li class="active"><a href="#">Update Login Info</a></li>
  <li><a href="myaccount2.html">Update Account Info</a></li>
</ul>
</div>

<form class="form-horizontal" role="form" method="post" action="index.php">
<div class="container"><div class="row">
            <div class="col-sm-8">
              <br><br><br><h4>Update Login Info</h4>
            </div>
    </div></div><br><br>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email (Login) <font color="red">*</font></label>
        <div class="col-sm-5">
            <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
           Changing the email will result in sending a new verification email and logging out<br>
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-5">
            <input type="password" class="form-control" id="password" name="password" placeholder="●●●●●●●●">
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">New Password</label>
        <div class="col-sm-5">
            <input type="password" class="form-control" id="password" name="password" placeholder="●●●●●●●●">
        </div>
    </div>
    <br>
<div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <input id="save" name="save" type="save" value="Save" class="btn btn-primary">
        </div>
    </div>
</form>
<br><br><br>