<!-- price-3 --> 
            <a name="products"></a>
      <section class="price-3">
        <div class="container">
            <div class="plans">
            <div class="plan">
              <div class="title">
                <div class="img">
                  <img src="img/vdk.png" width="140" height="140" alt="">
                </div><br>
                Vital AI Development Kit
              </div>
              <div class="description">
                Use the Vital AI Development Kit (VDK) to rapidly build Intelligent Applications.
                <br>
                <b>unlimited</b> data
                <br>
                <b>unlimited</b> users
              </div>
              <a class="btn btn-primary" href="#">Subscribe</a>
            </div>
            <div class="plan plan-2">
              <div class="title">
                <div class="img">
                  <img src="img/aspen.png" width="140" height="140" alt="">
                </div><br>
                Aspen
              </div>
              <div class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                <br>
                <b>unlimited</b> data
                <br>
                <b>unlimited</b> users
              </div>
              <a class="btn btn-primary" href="#">Subscribe</a>
            </div>
            <div class="plan">
              <div class="title">
                <div class="img">
                  <img src="img/aspendatascripts.png" width="140" height="140" alt="">
                </div><br>
                Aspen DataScripts
              </div>
              <div class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                <br>
                <b>unlimited</b> data
                <br>
                <b>unlimited</b> users
              </div>
              <a class="btn btn-primary" href="#">Subscribe</a>
            </div>
              </div>

<br><br><br><div class="plans">
<div class="plan">
              <div class="title">
                <div class="img">
                  <img src="img/vitalutilities.png" width="140" height="140" alt="">
                </div><br>
                Vital Utilities
              </div>
              <div class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                <br>
                <b>unlimited</b> data
                <br>
                <b>unlimited</b> users
              </div>
              <a class="btn btn-primary" href="#">Subscribe</a>
            </div>
            <div class="plan plan-2">
              <div class="title">
                <div class="img">
                  <img src="img/vitalcytoscape.png" width="140" height="140" alt="">
                </div><br>
                Vital Cytoscape
              </div>
              <div class="description">
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                <br>
                <b>unlimited</b> data
                <br>
                <b>unlimited</b> users
              </div>
              <a class="btn btn-primary" href="#">Subscribe</a>
            </div>
            <div class="plan">
              <div class="title">
                <div class="img">
                  <img src="img/vitaldynamodb.png" width="140" height="140" alt="">
                </div><br>
                Vital Dynamodb
              </div>
              <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                <br>
                <b>unlimited</b> data
                <br>
                <b>unlimited</b> users
              </div>
              <a class="btn btn-primary" href="#">Subscribe</a>
            </div>                
          </div>

            <br><br><br><div class="plans">
<div class="plan">
              <div class="title">
                <div class="img">
                  <img src="img/vitalprime.png" width="140" height="140" alt="">
                </div><br>
                Vital Prime
              </div>
              <div class="description">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                <br>
                <b>unlimited</b> data
                <br>
                <b>unlimited</b> users
              </div>
              <a class="btn btn-primary" href="#">Subscribe</a>
            </div>
            <div class="plan plan-2">
              <div class="title">
                <div class="img">
                  <img src="img/vitalsparql.png" width="140" height="140" alt="">
                </div><br>
                Vital Sparql
              </div>
              <div class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                <br>
                <b>unlimited</b> data
                <br>
                <b>unlimited</b> users
              </div>
              <a class="btn btn-primary" href="#">Subscribe</a>
            </div>
            <div class="plan">
              <div class="title">
                <div class="img">
                  <img src="img/vitalsql.png" width="140" height="140" alt="">
                </div><br>
                Vital SQL
              </div>
              <div class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                <br>
                <b>unlimited</b> data
                <br>
                <b>unlimited</b> users
              </div>
              <a class="btn btn-primary" href="#">Subscribe</a>
            </div>
        </div>
            
             <br><br><br><div class="plans">
<div class="plan">
              <div class="title">
                <div class="img">
                  <img src="img/vitalvertx.png" width="140" height="140" alt="">
                </div><br>
                Vital Vert.x
              </div>
              <div class="description">
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                <br>
                <b>unlimited</b> data
                <br>
                <b>unlimited</b> users
              </div>
              <a class="btn btn-primary" href="#">Subscribe</a>
            </div>
            <div class="plan plan-2">
              <div class="title">
                <div class="img">
                  <img src="img/vitalgroovy.png" width="140" height="140" alt="">
                </div><br>
                Vital Groovy
              </div>
              <div class="description">
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                <br>
                <b>unlimited</b> data
                <br>
                <b>unlimited</b> users
              </div>
              <a class="btn btn-primary" href="#">Subscribe</a>
            </div>
            <div class="plan">
              <div class="title">
                <div class="img">
                  <img src="img/vitaljs.png" width="140" height="140" alt="">
                </div><br>
                Vital JS
              </div>
              <div class="description">
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                <br>
                <b>unlimited</b> data
                <br>
                <b>unlimited</b> users
              </div>
              <a class="btn btn-primary" href="#">Subscribe</a>
            </div>
        </div>
        <!--/.container-->
      </section>