<!-- price-3 --> 
<a name="products"></a>
<section class="price-3">
 
<div class="container">
                     
    <!-- <h3 style="margin: 30px;">fully responsive</h3> -->
    
    <div class="row responsive">
    
		{{#each grid}}

			<div class="product col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<div class="img">
					<img src="{{img}}" width="140" height="140" alt="">
				</div>
				<div class="title">
					<br><span title="{{title}}">{{title}}</span>
				</div>
				<div class="description dot-ellipsis dot-resize-update">
					{{description}}
				</div>
				<a class="btn btn-primary" href="subscription.html">Subscribe</a>
			</div>
			
		{{/each}}
    </div>
            
</div>
<!--/.container-->
</section>