<br><br><br><br><br>

<form class="form-horizontal" role="form" method="post" action="index.php">
<div class="container"><div class="row">
            <div class="col-sm-8">
              <br><br><br><h4>Reset Password</h4>
            </div>
    </div></div><br><br>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email (Login) <font color="red">*</font></label>
        <div class="col-sm-5">
            <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
           <br>
        </div>
    </div>
    <br>
<div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <input id="Reset" name="Reset" type="Reset" value="Reset" class="btn btn-primary">
        </div>
    </div>
</form>
<br><br><br>