<br><br><br>
<form class="form-horizontal" role="form" method="post" action="index.php">
<div class="container"><div class="row">
            <div class="col-sm-8">
              <br><br><br><h4>Sign Up</h4>
            </div>
    </div></div><br><br>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Contact Name <font color="red">*</font></label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="name" name="name" placeholder="" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Organization ID <font color="red">*</font></label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="name" name="name" placeholder="" value="">
        Choose a unique Organization identifier for your account. This value cannot be changed, and will be embedded in your software subscription license. Please use lower-case letters, numbers, dash, or underscore.<br>
        </div>
    </div>
    <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email (Login) <font color="red">*</font></label>
        <div class="col-sm-5">
            <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
           The email address that you will use to log in.<br>
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Password <font color="red">*</font></label>
        <div class="col-sm-5">
            <input type="password" class="form-control" id="password" name="password" placeholder="●●●●●●●●">
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Repeated Password <font color="red">*</font></label>
        <div class="col-sm-5">
            <input type="password" class="form-control" id="password" name="password" placeholder="●●●●●●●●">
        </div>
    </div>
     <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Business Name</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="name" name="name" placeholder="" value="">
        </div>
    </div>
     <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Business Category</label>
        <div class="col-sm-5"><div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    ---
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu pre-scrollable" aria-labelledby="dropdownMenu1">
    <li><a href="#">Chemicals / Mining / Petroleum / Textiles</a></li>
    <li><a href="#">Consultant / Business Service</a></li>
    <li><a href="#">Education</a></li>
    <li><a href="#">Entrepreneur</a></li>
    <li><a href="#">Finance / Banking / Accounting</a></li>
    <li><a href="#">Government / Military / Public Administration</a></li>
      <li><a href="#">Healthcare / Medical / Pharmaceutical / Biotech</a></li>
    <li><a href="#">ISP / Web Hoster / IT Services Outsourcer</a></li>
  
    <li><a href="#">Insurance / Legal / Real Estate</a></li>
    <li><a href="#">Manufacturing</a></li>
    <li><a href="#">Media / Entertainment</a></li>
    <li><a href="#">Retail</a></li>
    <li><a href="#">Software Development / Application Development</a></li>
    <li><a href="#">Telecommunications / Carriers</a></li>
    <li><a href="#">Transportation / Logistics</a></li>
    <li><a href="#">Utilities</a></li>
    <li><a href="#">Other</a></li>
            </ul></div></div>
    </div>
     <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Business URL</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="url" name="url" placeholder="" value="">
        </div>
    </div>
     <div class="form-group">
        <label for="name" class="col-sm-2 control-label">GitHub Account</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="name" name="name" placeholder="" value="">
        </div>
    </div>
     <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Mobile Phone</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="number" name="number" placeholder="" value="">
        </div>
    </div>
     <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Telephone</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="number" name="number" placeholder="" value="">
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <input id="signup" name="signup" type="signup" value="Sign Up" class="btn btn-primary">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <! Will be used to display an alert to the user>
        </div>
    </div>
</form>
<br><br><br>