
<br><br><br>

<div class="container"><div class="row">
            <div class="col-sm-8">
              <br><br><br><h4>Confirm Subscription</h4>
            </div>
    </div></div><br><br>

    
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <p>Product Name:</p>
               Vital AI Development Kit <br><br><br>
                
                <p>Short description:</p>
                Use the Vital AI Development Kit (VDK) to rapidly build Intelligent Applications.<br><br><br>
                
                <p>Subscription Terms:</p>
                 Beta Subscription<br><br><br>
                
                 <a class="btn btn-primary" href="#">Subscribe</a>
            </div>
              
              
              
            <div class="col-sm-5 col-sm-offset-1">
              <img src="img/vdk.png" width="300px">
            </div>
          </div>
        </div>
<br><br><br>