#download-appstore {
  display: block;
  background-image: url("../img/download-appstore.png");
  background-position: top left;
  background-repeat: no-repeat;
  height: 64px;
  width: 299px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 480px) {
  #download-appstore {
    width: 240px;
    height: 52px;
    background-size: 240px 52px;
  }
}

#download-appstore:HOVER, #download-appstore.preload {
  background-image: url("../img/download-appstore-on.png");
}

.companies {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.company {
  display: inline-block;
  background-position: top left;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.company.first {
  margin-right: 10px;
}

.company.last {
  margin-left: 10px;
}

.company.middle {
  margin-left: 10px;
  margin-right: 10px;
}

.company.wired {
  width: 81px;
  height: 16px;
  background-image: url("../img/company-wired.png");
}

.company.business-insider {
  width: 176px;
  height: 16px;
  background-image: url("../img/company-business-insider.png");
}

.company.techcrunch {
  width: 97px;
  height: 16px;
  background-image: url("../img/company-techcrunch.png");
}

.company.venture-beat {
  width: 28px;
  height: 16px;
  background-image: url("../img/company-venture-beat.png");
}


.social {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  width: 45px;
  height: 44px;
  background-position: top left;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}


.twitter {
  background-image: url("../img/icon-twitter-off.png");
}

.twitter:HOVER, .preload .twitter {
  background-image: url("../img/icon-twitter-on.png");
}

.facebook {
  background-image: url("../img/icon-facebook-off.png");
}
.facebook:HOVER, .preload .facebook {
  background-image: url("../img/icon-facebook-on.png");
}

.gplus {
  background-image: url("../img/icon-gplus-off.png");
}
.gplus:HOVER, .preload .gplus {
  background-image: url("../img/icon-gplus-on.png");
}


.linkedin {
  background-image: url("../img/icon-linkedin-off.png");
}
.linkedin:HOVER, .preload .linkedin {
  background-image: url("../img/icon-linkedin-on.png");
}

.email {
  background-image: url("../img/icon-email-off.png");
}
.email:HOVER, .preload .email {
  background-image: url("../img/icon-email-on.png");
}

.copyright {
  padding-left: 10px;
}