
#circle {
	position:relative;
  	margin: 50px auto;
  	/*
	width:300px;
	height:150px;
	border-radius: 150px 150px 0 0;
	*/
	
	/*
	border:2px solid hsl(200, 70%, 30%);
	box-shadow:0 3px 4px #000;
	*/
	border: 5px solid #8a8a8a;
	
	/* background: radial-gradient(circle at 150px 150px, #090a0b, #222); */
	text-align:center;
	
	border-bottom: none;
}

#circle p {
	margin: 0px;
	color: hsl(200, 70%, 30%);
	text-shadow: 0 0 1px hsl(200, 70%, 30%);
}

.circle-arrow {
    position: absolute;
    width: 0px;
    height: 0px;
	border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #8a8a8a;
    bottom: -20px;
}

#circle-left-arrow {
    left: -13px;
}

#circle-right-arrow {
    right: -13px;
}


.circle-label {
	position: absolute;
	font-weight: bold;
}

#comfort-number {
/*	font-size: 2.5em;*/
}

#comfort-label {
	
}


#inner-circle {
    position: absolute;
	background-color: red;
	
}

#handler {
	position:relative;
	font-size:10px;
	line-height:40px;
	
	/*left:130px;*/
	/*
	height:40px;
	width:40px;
	top:-20px;
	background: radial-gradient(circle at 20px 20px, #0af, #034);
	*/
	height:47px;
	width:47px;
	top:-25px;
	background-color: white/*#8a8a8a*/;
	border: 3px solid black;
	/*box-shadow:0 0 4px 1px #000;*/
	box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
	border-radius:50%;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}

#bottom-buttons {
	text-align: center;
	padding-bottom: 10px;
}

#submit-button .inner {
	font-size: 17px;	
}

#submit-status {
	border-top: 3px solid #ccc;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	background-color: #eee;
}

#dial-selected-address {
	text-shadow: none;
	border-bottom: 2px solid #cccccc;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: 10px;
	text-align: center;
}

#dial-selected-address.notselected {
	background-color: yellow;
}

#dial-selected-address.selected {
	background-color: transparent;
	font-weight: bold;
}

#submitted-label {
	border: 1px solid black;
    left: 0px;
    right: 0px;
    padding: 10px;
    position: absolute;
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
}