

<footer class="main-footer">
    


       <center> 
           
           <div class="social">
           <a href="#"><i class="fa fa-lg fa-facebook"></i></a>&nbsp;&nbsp;
        <a href="#"><i class="fa fa-lg fa-twitter"></i></a>&nbsp;&nbsp;
        <a href="#"><i class="fa fa-lg fa-google-plus"></i></a>&nbsp;&nbsp;
           </div><br>
           
           <strong>Copyright &copy; 2016 <a href="http://haley.ai">Haley.ai</a>.</strong></center>
    
      </footer>

