  <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
      
    
          <!-- Home tab content -->

            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript::;">
                    <div class="col-sm-10 col-sm-offset-1">
                    <div class="box box-warning direct-chat direct-chat-warning">
                    <div class="box-header with-border">
                      <h3 class="box-title">Saved Cards</h3>
                      <div class="box-tools pull-right">
                        <span data-toggle="tooltip" title="3 New Messages" class="badge bg-yellow">3</span>
                      </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                      <!-- Conversations are loaded here -->
                      <div class="direct-chat-messages">
                        <!-- Message. Default to the left -->
                  
                             <div class="product-info">
                        <a href="javascript::;" class="product-title">Map of Boston</a><br>
                        <span class="product-description">
                         Source: Google Maps
                        </span>
                           <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d188822.9742449608!2d-71.19758635331878!3d42.31354167787729!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3652d0d3d311b%3A0x787cbf240162e8a0!2sBoston%2C+MA!5e0!3m2!1sen!2sus!4v1457987146060" width="310" height="280" frameborder="0" style="border:0" allowfullscreen></iframe><br>
                               <a href="#">More Info</a></center>
                      </div><hr>
                          
                             <div class="product-info">
                        <a href="javascript::;" class="product-title">Turned on the lights</a><br>
                        <span class="product-description">
                        <br><br>
                         <center><img src="img/lamp.jpeg" width="200"><br>
                             <a href="#">More Info</a></center>
                      </div>
                        <hr>
                          
                          
                          <div class="product-info">
                        <a href="javascript::;" class="product-title">Streaming: The Beatles</a><br>
                        <br><br>
                         <center><img src="img/abbey_road.jpg" width="200"><br>The Beatles - Abbey Road<br>
                             <a href="#">More Info</a>
                      </div></center>
                        <hr>
                          
                          <div class="product-info">
                        <a href="javascript::;" class="product-title">Map of Chicago</a><br>
                        <span class="product-description">
                         Source: Google Maps
                        </span>
                              <center>
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d380513.71598599426!2d-88.01233928988323!3d41.833392504956805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2sChicago%2C+IL!5e0!3m2!1sen!2sus!4v1457983085608" width="310" height="280" frameborder="0" style="border:0" allowfullscreen></iframe><br>
                              <a href="#">More Info</a></center>
                      </div>
                           <hr>
                          
                     
                      <div class="product-info">
                        <a href="javascript::;" class="product-title">Weather</a><br>
                        <span class="product-description">
                          Source: forecast.io
                        </span>
                           <center>
                          <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat=42.3583&lon=-71.0603&name=New York City"> </iframe><br>
                               <a href="#">More Info</a> </center>
                      </div>
              
                      </div><!--/.direct-chat-messages-->
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                      <form action="#" method="post">
                    
                      </form>
                    </div><!-- /.box-footer-->
                  </div><!--/.direct-chat -->
                    </div>
                </a>
              </li>
              
            </ul><!-- /.control-sidebar-menu -->

         

        
      </aside><!-- /.control-sidebar -->
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>