<section class="content-39">
            <div id="pt-main" class="page-transitions pt-perspective">
                <div class="pt-page pt-page-1">
                    <div class="background">
                        &nbsp;
                    </div>
                    <div class="caption">
                        <div class="container col-sm-6 col-sm-offset-4">
                            
                            <div class="hero-unit">
                                <h3>&nbsp;Vital A.I. Consulting Services</h3>
                            </div>    

                            <p class="lead">Application Development.  Artificial Intelligence. Predictive Analytics.  Data Science.  Data Governance.
<br> Our Team will help you launch Intelligent, Data-Driven Applications.</p>

                        </div>

                    </div>
    

                </div>
                <div class="pt-page pt-page-2">
                    <div class="background">
                        &nbsp;
                    </div>
                    <div class="caption">
                <div class="container col-sm-7 col-sm-offset-4">


                            <div class="hero-unit">
                                <h3>&nbsp;Vital A.I. Development Toolkit (VDK)</h3>
                            </div>

                            <p class="lead">Use the Vital A.I. Development Kit (VDK) to rapidly build Intelligent Applications. <br>Download the VDK today!</p>                        
                        </div>
                    </div>

                            

                </div>
                <div class="pt-page pt-page-3">
                    <div class="background">
                        &nbsp;
                    </div>
                    <div class="caption">

                        <div class="container col-sm-7 col-sm-offset-4">
                            <div class="hero-unit">
                                <h3>&nbsp;Apache Spark and Hadoop</h3>
                            </div>
                        <p class="lead">Let us help you utilize Apache Spark for lightning-fast data processing. 
<img src="img/spark-logo.png" alt="Spark Logo" style="width:220px;height:117px;" align="right">

</p>
                        </div>
                       
                        
                    </div>
                </div>
                <div class="container controls">


                    <a class="control-prev" href="#"><span class="fui-arrow-left"> </span></a>
                    <a class="control-next" href="#"><span class="fui-arrow-right"> </span></a>

                    

                </div>
            </div>
        </section>