<a name="download"></a>
    <section class="content-36">
    <div class="container">
        <h2>Download the Vital AI Development Kit (VDK) today!<br>Start building Intelligent Applications.</h2>
        <a class="btn btn-success" target=_blank
    href="https://dashboard.vital.ai">Download: Vital AI Development Kit</a>
        <p>Vital AI Development Kit, Beta Release</p> <br><br><p>The Beta Program includes:</p><br>
        Database Connections: Vital SQL, Vital SPARQL, Vital DynamoDB<br>
Apache Spark: Aspen (Machine Learning on Spark)<br>
Application Infrastructure: Vital Prime<br>
Web Application Development: Vital JavaScript, Vital VertX<br>
Visualization: Cytoscape Plugin<br>
JVM Scripting: Groovy<br>
      Plus: Sample Code, Documentation, and Utilities<br><br>
          <p>The free Beta Program is available until April 15, 2016 with ongoing releases.</p>
    </div>
</section>