   <a name="home"></a>
<!-- header-1 -->
        <header class="header-1">
            <div class="container">
                <div class="row">
                    <div class="navbar col-sm-12 navbar-fixed-top" role="navigation" style="top: -6px;">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle"></button>
                            <a class="brand" href="../index.html#home"><img src="img/vitalai_offwhite.png" style="width: auto; height: 25px; margin-top: 6px;"></a>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav pull-right">
                                <li>
                                    <a href="../index.html#home">HOME</a>
			      </li>

<li>
                                    <a href="../index.html#solutions">SOLUTIONS</a>
			      </li>
			        <li>

				<li>
                                    <a href="tech.html">TECH</a>
                                </li>
<li class="active">
                                    <a href="#">ABOUT US</a>
			      </li>
                           
                                <li>
                                    <a target=_blank href="http://vital-ai.github.io/vital-documentation/">DOCUMENTATION</a>
                                </li>

                                <li>
                                    <a target=_blank href="http://vitalai.com">BLOG</a>
                                </li>

<li>
                                    <a href="http://vital-ai.github.io/vital-store/index2.html">CONSOLE</a>
                                </li>
                               <li style="max-width:110px">
                                   <form class="navbar-form pull-left">
                  <a class="btn btn-primary" href="http://vital-ai.github.io/vital-store/signup.html">SIGN UP</a>
                </form>
                                </li>
                                <li> <form class="navbar-form pull-left">
                  <a class="btn btn-info" href="http://vital-ai.github.io/vital-store/index.html">&nbsp;&nbsp;LOG IN&nbsp;&nbsp;</a>
                </form></li>
                            </ul>
                            <ul class="subnav">
                                
                                
                                <li>
                                    <a target=_blank
                                    href="http://vital-ai.github.io/vital-documentation/">Documentation</a>
                                </li>
                                <li>
                                    <a href="terms-of-service.html">Terms of Service</a>
                                </li>
                                <li>
                                    <a href="privacy-policy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="mailing-list-management.html">Mailing List Management</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>