            
<section class="content-11 subscribe-form">
    <div class="container">
        <div class="row" style="">
            <div class="col-sm-4 signup-els" style="line-height: 60px;">
                <span>Find out more about Vital AI!</span>
            </div>
            <div class="col-sm-4 signup-els" style="line-height: 60px;">
                <input id="input-email" class="signup-form" placeholder="Enter your e-mail" spellcheck="false" type="text" />
            </div>
            <div class="col-sm-3 signup-els" style="line-height: 60px;">
                <button id="signup" type="button" class="btn btn-large btn-primary signup-form">Join our mailing list!</button>
            </div>
            <div class="col-sm-12 text-success" id="signup-success" style="display: none;">
              Thanks for joining the mailing list!
            </div>
            <div class="col-sm-12 text-danger" id="signup-error" style="display: none;">
              ERROR!
            </div>
        </div>
    </div>


</section>