<section class="content-26 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3>The Vital AI Technology</h3>
                <p class="lead">Create Intelligent Data-Driven Applications.</p>
            </div>
        </div>
        <div class="row features">
            <div class="col-sm-3">
                <img src="common-files/icons/Map@2x.png" alt="" width="100" height="100">
                <h6>Define your Data Model</h6>
                Define your data model, generate code, and push to your application, across all architectural layers.
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                <img src="common-files/icons/Settings@2x.png" alt="" width="100" height="100">
                <h6>Configure Data Analysis</h6>
                Configure data analysis components to process your data and create your desired output.
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <img src="common-files/icons/Responsive1@2x.png" alt="" width="100" height="100">
                <h6>Connect a User Interface</h6>
                View your data in reports, or enable your customers to dynamically interact with your data.
            </div>
        </div>
                </div></div></div>
</section>