<div class="box">
                <div class="box-header">
                  <h3 class="box-title">Add New Invitation Request</h3><hr>
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
         <div class="col-sm-6 col-sm-offset-3">
                  <form>
   <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" placeholder="Email">
  </div>
    <label for="email">Status</label>
  <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    ---
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">Pending</a></li>
    <li><a href="#">Active</a></li>
  </ul>
</div><br>
   <p>(When creating an active invitation the email will be sent instantly)</p><br>
 <center><button type="submit" class="btn btn-default">Cancel</button>&nbsp;&nbsp;&nbsp;
     <button type="submit" class="btn btn-primary">Add</button>
</form></center>
                <br>
                </div><!-- /.box-body -->
                    </div>
              </div><!-- /.box -->