<div class="box">
                <div class="box-header">
                  <h3 class="box-title">Add New Product</h3><hr>
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
         <div class="col-sm-6 col-sm-offset-3">
                  <form>
  <div class="form-group">
    <label for="exampleCustomerID">Product ID</label>
    <input type="text" class="form-control" id="CustomerID" placeholder="ID">
  </div>
  <div class="form-group">
    <label for="usr">Product Name</label>
    <input type="text" class="form-control" id="usr" placeholder="Name">
  </div>
<div class="form-group">
    <label for="text">Price $</label>
    <input type="text" class="form-control" id="text" placeholder="Price">
  </div>
 <div class="form-group">
    <label for="text">Short Description</label>
    <input type="text" class="form-control" id="text" placeholder="Short Description">
  </div>
<div class="form-group">
    <label for="text">Description</label>
    <input type="text" class="form-control" id="text" placeholder="Description">
  </div>
<div class="form-group">
    <label for="text">Image URL</label>
    <input type="url" class="form-control" id="url" placeholder="URL">
  </div>
<div class="checkbox">
    <label>
      <input type="checkbox"> Product Active
    </label>
  </div>
 <center><button type="submit" class="btn btn-default">Cancel</button>&nbsp;&nbsp;&nbsp;
     <button type="submit" class="btn btn-primary">Add</button>
</form></center>
                <br>
                </div><!-- /.box-body -->
                    </div>
              </div><!-- /.box -->