<div class="box">
                <div class="box-header">
                  <h3 class="box-title">Add New Customer</h3><hr>
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
         <div class="col-sm-6 col-sm-offset-3">
                  <form>
  <div class="form-group">
    <label for="exampleCustomerID">Customer ID</label>
    <input type="text" class="form-control" id="CustomerID" placeholder="ID">
  </div>
  <div class="form-group">
    <label for="usr">Customer Name</label>
    <input type="text" class="form-control" id="usr" placeholder="Name">
  </div>
 
  <div class="checkbox">
    <label>
      <input type="checkbox"> Locked
    </label>
  </div>
<div class="checkbox">
    <label>
      <input type="checkbox"> Create Braintree Account
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Test Account
    </label>
  </div>
    <div class="form-group">
    <label for="usr">Business Name</label>
    <input type="text" class="form-control" id="usr" placeholder="Name">
  </div>
<div class="form-group">
    <label for="text">Business Category</label>
    <input type="text" class="form-control" id="text" placeholder="Category">
  </div>
<div class="form-group">
    <label for="text">Business URL</label>
    <input type="url" class="form-control" id="url" placeholder="URL">
  </div>
<div class="form-group">
    <label for="text">Mobile Phone</label>
    <input type="text" class="form-control" id="text" placeholder="Number">
  </div>
<div class="form-group">
    <label for="text">Telephone</label>
    <input type="text" class="form-control" id="text" placeholder="Number">
  </div>
 <center><button type="submit" class="btn btn-default">Cancel</button>&nbsp;&nbsp;&nbsp;
     <button type="submit" class="btn btn-primary">Add</button>
</form></center>
                <br>
                </div><!-- /.box-body -->
                    </div>
              </div><!-- /.box -->