<div class="box">
                <div class="box-header">
                  <h3 class="box-title">Admin Service</h3><hr>
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="row" align="center">
         <div class="col-md-3">
 <p><b>Invitation Code Requests</b></p>
  <div class="checkbox">
    <label>
      <input type="checkbox"> On
    </label>
  </div>
<div class="checkbox">
    <label>
      <input type="checkbox"> Off
    </label>
  </div>
<button type="submit" class="btn btn-primary">Save</button>
                    </div>
                    
     <div class="col-md-3">               
<p><b>Maintenance Mode</b></p>
 <div class="checkbox">
    <label>
      <input type="checkbox"> On
    </label>
  </div>
<div class="checkbox">
    <label>
      <input type="checkbox"> Off
    </label>
  </div>
<button type="submit" class="btn btn-primary">Save</button><br><br>
                <br>
                </div>
                    </div>
                    </div><!-- /.box-body -->
              </div><!-- /.box -->