
<!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">ADMIN</li>
           
              <a href="#">
                <li class="active"> <i class="fa fa-home"></i> <span>Home</span>
                </a></li>
      
           
            <li class="treeview">
              <a href="customers.html">
               <i class="fa fa-users"></i>
                <span>Customers</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="add-customer.html"><i class="fa fa-plus"></i>Add Customer</a></li>
              
              </ul>
            </li>
           <li class="treeview">
              <a href="#">
                <i class="fa fa-cube"></i>
                <span>Products</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="add-product.html"><i class="fa fa-plus"></i>Add Product</a></li>
              
              </ul>
            </li>
            <li class="treeview">
              <a href="service-contracts.html">
                <i class="fa fa-edit"></i>
                <span>Service Contracts</span>
              </a>
            </li>
            <li class="treeview">
              <a href="invoices.html">
                <i class="fa fa-book"></i>
                <span>Invoices</span>
              </a>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-edit"></i> <span>Invitation Requests</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="add-invitationrequest.html"><i class="fa fa-plus"></i>Add Invitation</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="admin-service.html">
                <i class="fa fa-comment"></i> <span>Admin Service</span>
              </a>
            </li>
            <li>
              <a href="pages/calendar.html">
                <i class="fa fa-user"></i> <span>Admin</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
                <ul class="treeview-menu">
                <li><a href="pages/forms/general.html"><i class="fa fa-plus"></i>Add Admin</a></li>
              </ul>
            </li>
             <li>
              <a href="pages/mailbox/mailbox.html">
                <i class="fa fa-bar-chart"></i> <span>Predictive Models</span>
                  <i class="fa fa-angle-left pull-right"></i>
              </a>
                 <ul class="treeview-menu">
                <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i>Load Model</a></li>
              </ul>
            </li>
            <li>
              <a href="pages/mailbox/mailbox.html">
                <i class="fa fa-file-text"></i> <span>Files</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
                <ul class="treeview-menu">
                <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i>Enron</a></li>
                    <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i>Commerce</a></li>
                    <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i>Commerce Admin</a></li>
                    <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i>Test App</a></li>
              </ul>
            </li>
             <li>
              <a href="pages/mailbox/mailbox.html">
                <i class="fa fa-wrench"></i> <span>Vital Service</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
                 <ul class="treeview-menu">
                <li><a href="pages/forms/general.html"><i class="fa fa-plus"></i>Add App</a></li>
                     <li><a href="pages/forms/general.html"><i class="fa fa-plus"></i>Add VitalService / Database</a></li>
              </ul>
                 
            </li>
             <li>
              <a href="#">
                <i class="fa fa-file-code-o"></i> <span>Datascripts</span>
              </a>
            </li>
             <li>
              <a href="#">
                <i class="fa fa-server"></i> <span>Domain Models</span>
              </a>
            </li>
  
     
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>